<nav class="navbar navbar-expand-lg navbar-dark navbar-main shadow-sm p-3">
    <a class="navbar-brand ml-1" href="#">
        Lånehjelpen
    </a>
</nav>
<div id="container">
    <div class="row p-4">
        <!-- Page Content -->
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <div class="card shadow-sm mb-4">
                        <div class="card-body p-4">
                            <h3 class="card-title">Lånegrunnlag</h3>
                            <app-calculationBase></app-calculationBase>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title">Ekstra innbetaling</h4>
                            <app-extra-repayment></app-extra-repayment>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" [ngClass]="{'active': activeTab===0}" href="#" (click)="activeTab=0">I korte trekk</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [ngClass]="{'active': activeTab===1}" href="#" (click)="activeTab=1">Nedbetaling</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [ngClass]="{'active': activeTab===2}" href="#" (click)="activeTab=2">Terminer</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body p-5">
                            <app-basic-info *ngIf="activeTab===0"></app-basic-info>
                            <app-remainingloan *ngIf="activeTab===1"></app-remainingloan>
                            <app-termins *ngIf="activeTab===2"></app-termins>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>