<div class="row">
    <div class="col-4 p-3">
        <div>Totalt å betale</div>
        <div class="big-number">{{result.totalPayments | currency:'kr':'symbol':'0.2-2':'nb' }}</div>
    </div>
    <div class="col-4 p-3">
        <div>Totalt renter</div>
        <div class="big-number">{{result.totalInterest | currency:'kr':'symbol':'0.2-2':'nb' }}</div>
    </div>
    <div class="col-4 p-3">
        <div>Totalt renter etter skattefradrag</div>
        <div class="big-number">{{result.totalInterest * 0.77 | currency:'kr':'symbol':'0.2-2':'nb' }}</div>
    </div>
</div>
<div class="row">
    <div class="col-4 p-3">
        <div>Belåning av startsum</div>
        <div class="big-number">{{capital | percent }}</div>
    </div>
    <div class="col-4 p-3">
        <div>Tid før du når 75%</div>
        <div class="big-number">{{terminsBeforeSafe()}} måneder</div>
    </div>
    <div class="col-4 p-3" *ngIf="hasExtraPayment">
        <div>Spart på å betale ekstra</div>
        <div class="big-number">{{resultWithoutExtraPayment.totalPayments - result.totalPayments | currency:'kr':'symbol':'0.2-2':'nb' }}</div>
    </div>
    <div class="col-4 p-3" *ngIf="hasExtraPayment">
        <div>Terminer spart</div>
        <div class="big-number">{{timeSaved()}} måneder</div>
    </div>
</div>