
body {
    background-color: #ececec;
    margin: 0;
}

.content {
    width: 75%;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .content {
        width: 100%;
    }
 }


.space-below {
    margin-bottom: 20px;
}