
body {
    background-image: linear-gradient( 135deg, #fff1e5 10%, #fff1e5 100%);
    margin: 0;
}

.content {
    width: 75%;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .content {
        width: 100%;
    }
 }


.space-below {
    margin-bottom: 20px;
}

.mat-card {
    background: #fff9f5 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}