@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&amp;subset=latin-ext');

@import '~@angular/material/theming';


$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $body-2:        mat-typography-level(14px, 24px, 600)  
);

$secondary-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif'
);


// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);


$my-app-primary: mat-palette($mat-red, 700);
$my-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$my-app-warn:    mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


@include angular-material-theme($my-app-theme);

html {
  background: #f2f2f2;
}

body {
  background: transparent;
}